body {
  background-color: #4316ac !important;

}

.about-wrap-layout6,
.location-wrap-layout1,
.process-wrap-layout2,
.newsletter-wrap-layout1,
.contact-wrap-layout2,
.blog-single-wrap,
.gallery-wrap-layout3,
.portfolio-wrap-layout1,
.speaker-wrap-layout5,
.about-wrap-layout1,
.schedule-wrap-layout2 {
  background-color: #4316ac !important;
}

section.blog-grid-wrap {
  background-color: #4316ac !important;
}

.about-box-layout6 .title,
.blog-single-box .content-box .entry-title,
.widget .widget-heading .title,
.blog-single-box .content-box .entry-meta ul li a i,
.widget-recent-post .single-post .content-box .entry-title a,
.blog-single-box .inner-section-title,
.blog-single-box .comment-title,
.about-wrap-layout1 .title {
  color: #d0dcff;
}

.about-wrap-layout1 .description {
  color: #999;
}

.blog-single-wrap input {
  padding: 10px;
}

.about-wrap-layout6 p,
.blog-single-box p {
  color: #fff;
}

.about-box-layout6 .info-box .content-box .info-title {
  color: #ff4d4e;
}

.section-heading .title {
  color: #d0dcff;
}

.section-heading .sub-title {
  color: rgb(242, 240, 255);
}

.hero-wrap-layout4::before {
  border-bottom: 0 solid #4316ac;
  border-right: 0 solid transparent;
  content: "";
  background: linear-gradient(180deg, rgb(12 3 36 / 0%) 1%, #4316ac 100%);
  height: 100%;
  width: 100%;
  top: 0;
  left: 0;
  position: absolute;
  z-index: 1;

}

.hero-area-space::before {
  width: 0;
  border-bottom: 0 solid #4316ac;
  border-right: 0 solid transparent;
}

.widget-search .input-group-addon button {
  background-color: #D0D0D7;
  padding: 10px 5px;
}

.author-description {
  color: #646464 !important;
}

.blog-single-box .content-box .leave-comment {
  padding: 20px;
}

.section-heading.style-two .sub-title,
.section-heading.style-one .sub-title,
.widget-heading .title {
  font-style: italic;
  font-weight: 500;
  font-size: 20px;
  margin-bottom: 10px;
  color: #ff4d4e !important;
}

.tag-title,
.social-title {
  color: #ff4d4e !important;
}

.about-box-layout6 li {
  color: #f9f9f9;
}

ul.pagination-layout1 li a,
.counter-value {
  color: #ffb34d;
}

.blog-single-wrap .widget-search .form-control {
  text-indent: 10px;
}

.blog-single-wrap .widget-search .input-group {
  border: 0;
}

.blog-single-wrap .widget-search .input-group-addon button {
  padding: 10px 13px;
  width: 40px;
}

.blog-single-wrap .widget-recent-post .single-post {
  border: 1px solid #fff;
}

.blog-single-wrap .widget-recent-post .single-post .content-box {
  padding-top: 5px;
}

.blog-single-wrap .widget-recent-post .single-post .content-box .entry-date {
  color: #ff4d4e !important;
}

.blog-single-wrap .blog-single-box .content-box .blog-comments ul li .comments-content-box .reply-btn {
  color: #3769F2;
}

.inner-page-banner {
  min-height: 300px !important;
}

.schedule-wrap-layout2 .heading-box .content-box .title,
.schedule-wrap-layout2 .heading-box .content-box .sub-title {
  color: #fff !important;
}

.about-wrap-layout3 .about-box-layout3 .content-box1 .title,
.about-wrap-layout3 .about-box-layout3 .content-box2 .title {
  color: #ff4d4e;
}

.about-wrap-layout3 .about-box-layout3 .content-box1 .description,
.about-wrap-layout3 .about-box-layout3 .content-box2 .description {
  color: #c9c9c9;
}

.font-50 {
  font-size: 50px;
}

.font-22 {
  font-size: 22px;
}

.co-w-h {
  width: 150px;
  height: 150px;
}